*{
    box-sizing: border-box;
}
button,input{
    background-color: aquamarine;
    border:none;
    border-radius: 10px;
    padding-left:10px;
    padding-right: 10px;
    font-size: medium;
    text-transform: capitalize;
    font-weight: bolder;
    margin-top: 10px;
    outline:none;
    cursor: pointer;
}
.bclass{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width:100%;
    bottom:20vh;
    position:absolute;
}
body{
    background-color: black;
}
.master_rocket{
    display:flex;
    justify-content:center;
    position: relative;
    align-items:flex-end;
}

/* More super_burst cann be added by adding one more child element of master */
/* This circle is independent of the javascript. */
.circle{
    border: 3px solid red;
    background-color: orange;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 80px 20px 10px orange;
    /* animation-name: super_burst; */
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}
.circle:nth-child(1){
    transform:translate(0px,60px);
}
.circle:nth-child(2){
    transform:translate(45px,45px);
}
.circle:nth-child(3){
    transform:translate(60px,0px);
}
.circle:nth-child(4){
    transform:translate(-45px,-45px);
}
.circle:nth-child(5){
    transform:translate(0px,-60px);
}
.circle:nth-child(6){
    transform:translate(-60px,0px);
}
.circle:nth-child(7){
    transform:translate(45px,-45px);
}
.circle:nth-child(8){
    transform:translate(-45px,45px);
}
/* Animations here */
@keyframes super_burst{
    0%,50%{
        opacity:0;
        transform:translate(0px,0px);
    }
    80%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
.rocket{
    border: 3px solid white;
    width: 50px;
    /* added height attribute because height was increasing constantly while animation */
    height:2px;
    background:white;
    /*animation-name: rocket_shoot;*/
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    position: absolute;
    bottom:10vh;
}
.read{
    border:2px solid white;
    position:absolute;
    bottom:30vh;
    right:20%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right:10px;
    padding-left:10px;
    width:60%;
}
h1{
    background: linear-gradient(to right, rgb(35, 255, 237) 0%, 
  rgb(253, 115, 23) 60%, rgb(255, 74, 74) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation-name: transition; */
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    opacity:0;
    text-align: center;
    width:100%;
    overflow-wrap: break-word;
}
p{
    color: white;
    font-size: 20px;
}
@media only screen and (max-width: 600px){
    .read{
        width:94%;
        left:3%;
    } 
}
@keyframes transition{
    0%{
      opacity:0;
    }
    90%,100%{
      opacity:1;
    }
}

.master_flower{
    display:flex;
    justify-content:center;
    position: relative;
    align-items:flex-end;
}

.cone{
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
}

.fire{
    /* To make sure that fire comes from bottom to top */
    position: absolute;
    border-top: 3px solid yellow;
    /* animation-name: burst; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    opacity: 0;
    /* Have the distance between start of sparkle and tip of cone */
    bottom: 20px;
}
.fire:nth-child(odd){
    border-right: 3px solid yellow;
    box-shadow: 10px -10px 10px -10px orange;
    right:50%;
}
.fire:nth-child(even){
    border-left: 3px solid yellow;
    box-shadow: -10px -10px 10px -10px red;
    left:50%;
}
.fire:nth-child(1){
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 60vw 40vw 0px 0px;
    height:35vh;
    width:15vh;
    animation-delay: 800ms;
}
.fire:nth-child(2){
    border-radius: 40vw 60vw 0px 0px;
    height:35vh;
    width:15vh;
    animation-delay: 800ms;
}
.fire:nth-child(3){
    border-radius: 50vw 30vw 0px 0px;
    height:25vh;
    width:11vh;
    animation-delay: 1000ms;
}
.fire:nth-child(4){
    border-radius: 30vw 50vw 0px 0px;
    height:25vh;
    width:11vh;
    animation-delay: 1000ms;
}
.fire:nth-child(5){
    border-radius: 40vw 20vw 0px 0px;
    height:15vh;
    width:7vh;
    animation-delay: 1200ms;
}
.fire:nth-child(6){
    border-radius: 20vw 40vw 0px 0px;
    height:15vh;
    width:7vh;
    animation-delay: 1200ms;
}
.fire:nth-child(7){
    border-radius: 30vw 10vw 0px 0px;
    height:5vh;
    width:3vh;
    animation-delay: 1400ms;
}
.fire:nth-child(8){
    border-radius: 10vw 30vw 0px 0px;
    height:5vh;
    width:3vh;
    animation-delay: 1400ms;
}
@keyframes burst{
    0%,20%{
        height:0;
        opacity:0;
        width:0;
        border: 0px solid black;
    }
    20%,90%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
